[workspace]
members = [
    "poem-derive",
    "poem",
    "poem-openapi-derive",
    "poem-openapi",
    "poem-lambda",
    "poem-dbsession",
    "poem-grpc-build",
    "poem-grpc",
]

[workspace.package]
authors = ["sunli <scott_s829@163.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/poem/"
homepage = "https://github.com/poem-web/poem"
repository = "https://github.com/poem-web/poem"
rust-version = "1.64"

[workspace.dependencies]
poem = { path = "poem", version = "1.3.56", default-features = false }
poem-derive = { path = "poem-derive", version = "1.3.56" }
poem-openapi-derive = { path = "poem-openapi-derive", version = "2.0.27" }
poem-grpc-build = { path = "poem-grpc-build", version = "0.2.20" }

tokio = "1.17.0"
serde_json = "1.0.68"
serde = { version = "1.0.130", features = ["derive"] }
thiserror = "1.0.30"
regex = "1.5.5"
mime = "0.3.16"
tracing = "0.1.36"
chrono = { version = "0.4.19", default-features = false }
bytes = "1.1.0"
futures-util = "0.3.17"
tokio-stream = "0.1.8"
serde_yaml = "0.9"
quick-xml = { version = "=0.26.0", features = [
    "serialize",
] } # https://github.com/tafia/quick-xml/issues/540
base64 = "0.21.0"
serde_urlencoded = "0.7.1"

# rustls, update together
hyper-rustls = { version = "0.24.0", default-features = false }
rustls = "0.21.0"
tokio-rustls = "0.24.0"
