[package]
name = "example-tonic"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
poem = { path = "../../../poem", features = ["tower-compat"] }
tokio = { version = "1.12.0", features = ["rt-multi-thread", "macros"] }
prost = "0.8.0"
tonic = "0.5.2"
tracing-subscriber = "0.2.24"

[build-dependencies]
tonic-build = "0.5.2"

[[bin]]
name = "example-tonic-client"
path = "src/client.rs"
