[package]
name = "examples-worker-hello-world"
version.workspace = true
edition.workspace = true
publish.workspace = true

[workspace]

[package.metadata.release]
release = false

[lib]
crate-type = ["cdylib"]

[dependencies]
worker = { version = "0.6.0" }
poem = { path = "../../../poem", default-features = false }
poem-worker = { path = "../../../poem-worker" }
