[package]
name = "poem-openapi"
version = "2.0.5"
authors = ["sunli <scott_s829@163.com>"]
edition = "2021"
description = "OpenAPI support for Poem."
readme = "README.md"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/poem/"
homepage = "https://github.com/poem-web/poem"
repository = "https://github.com/poem-web/poem"
keywords = ["http", "async", "openapi", "swagger"]
categories = ["network-programming", "asynchronous"]

[features]
swagger-ui = []
rapidoc = []
redoc = []
email = ["email_address"]
hostname = ["hostname-validator"]
static-files = ["poem/static-files"]

[dependencies]
poem-openapi-derive = { path = "../poem-openapi-derive", version = "2.0.5" }
poem = { path = "../poem", version = "1.3.35", features = [
  "multipart",
  "tempfile",
  "cookie",
  "sse",
] }

tokio = { version = "1.17.0", features = ["fs"] }
serde_json = "1.0.68"
serde_yaml = "0.8.24"
serde_urlencoded = "0.7.1"
base64 = "0.13.0"
serde = { version = "1.0.130", features = ["derive"] }
derive_more = "0.99.16"
num-traits = "0.2.14"
regex = "1.5.5"
mime = "0.3.16"
thiserror = "1.0.30"
bytes = "1.1.0"
futures-util = "0.3.17"

# Non-feature optional dependencies
email_address = { version = "0.2.1", optional = true }
hostname-validator = { version = "1.1.0", optional = true }

# Feature optional dependencies
chrono = { version = "0.4.19", optional = true }
time = { version = "0.3.9", optional = true, features = [
  "parsing",
  "formatting",
] }
uuid = { version = "1.1.0", optional = true }
url = { version = "2.2.2", optional = true }
bson = { version = "2.0.0", optional = true }
rust_decimal = { version = "1.22.0", optional = true }
humantime = { version = "2.1.0", optional = true }

[dev-dependencies]
tokio = { version = "1.17.0", features = ["macros", "rt-multi-thread"] }
poem = { path = "../poem", version = "1.3.35", features = ["test"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.workspaces]
independent = true
