[package]
name = "example-tower-layer"
version = "0.1.0"
edition = "2018"
publish = false

[dependencies]
poem = { path = "../../../poem", features = ["tower-compat"] }
tokio = { version = "1.12.0", features = ["rt-multi-thread", "macros"] }
tower = { version = "0.4.8", default-features = true, features = ["limit"] }
