[package]
name = "poem-grpc"
version = "0.2.16"
edition = "2021"
authors = ["sunli <scott_s829@163.com>"]
description = "GRPC support for Poem."
readme = "README.md"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/poem/"
homepage = "https://github.com/poem-web/poem"
repository = "https://github.com/poem-web/poem"
keywords = ["http", "async", "grpc"]
categories = ["network-programming", "asynchronous"]

[features]
default = []
json-codec = ["serde", "serde_json"]

[dependencies]
poem = { path = "../poem", version = "1.3.52" }

futures-util = { version = "0.3.17" }
hyper = { version = "0.14.20", features = ["client"] }
async-stream = "0.3.3"
tokio = { version = "1.20.1", features = ["io-util", "rt", "sync"] }
flate2 = "1.0.24"
itoa = "1.0.2"
percent-encoding = "2.1.0"
bytes = "1.2.0"
prost = "0.11.0"
base64 = "0.13.0"
prost-types = "0.11.0"
tokio-stream = { version = "0.1.9", features = ["sync"] }
hyper-rustls = { version = "0.23.0", features = ["webpki-roots", "http2"] }
serde = { version = "1.0.140", optional = true }
serde_json = { version = "1.0.82", optional = true }
rustls = "0.20.6"
thiserror = "1.0.32"
fastrand = "1.8.0"

[build-dependencies]
poem-grpc-build = { path = "../poem-grpc-build", version = "0.2.14" }

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
