[package]
name = "poem-lambda"
version = "1.3.52"
authors = ["sunli <scott_s829@163.com>"]
edition = "2021"
description = "Poem for AWS Lambda"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/poem/"
homepage = "https://github.com/poem-web/poem"
repository = "https://github.com/poem-web/poem"
keywords = ["http", "web", "framework", "async"]
categories = [
    "network-programming",
    "asynchronous",
    "web-programming::http-server",
    "web-programming::websocket",
]

[dependencies]
poem = { path = "../poem", version = "1.3.52", default-features = false }

lambda_http = { version = "0.7.0" }

[dev-dependencies]
tokio = { version = "1.17.0", features = ["rt-multi-thread", "macros"] }
