[package]
name = "example-opentelemetry"
version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
poem = { workspace = true, features = ["opentelemetry"] }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
tracing-subscriber.workspace = true
opentelemetry = { version = "0.27.0", features = ["metrics"] }
opentelemetry_sdk = { version = "0.27.0", features = ["rt-tokio"] }
opentelemetry-http = { version = "0.27.0" }
opentelemetry-otlp = { version = "0.27.0", features = ["trace"] }
reqwest = "0.12"

[[bin]]
name = "example-opentelemetry-client"
path = "src/client.rs"

[[bin]]
name = "example-opentelemetry-server1"
path = "src/server1.rs"

[[bin]]
name = "example-opentelemetry-server2"
path = "src/server2.rs"
