name: CI

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:5.0.7
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    steps:
      - uses: actions/checkout@v1

      # Use nightly Rust to check the format
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - name: Check format
        run: cargo fmt --all -- --check

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Install cargo-hack
        run: cargo install cargo-hack
      - name: Check with clippy
        run: cargo clippy --all --all-features
      - name: Check with cargo-hack
        run: cargo hack check --all --feature-powerset --no-dev-deps
      - name: Run tests
        run: cargo test --all --all-features --verbose
