name: Code Coverage

on:
  push:
    branches:
      - master

jobs:
  cover:
    runs-on: ubuntu-20.04
    services:
      redis:
        image: redis:5.0.7
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    steps:
      - uses: actions/checkout@v3
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
      - name: Install Stable Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65.0
          components: rustfmt
      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: "0.18.0"
      - name: Upload To codecov.io
        uses: codecov/codecov-action@v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
      - name: Archive Code Coverage Results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: cobertura.xml
